.items {

    &__container {
    }

    &__body {
    }

    &__title {
    }
}
.products {

    &__items {
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px 0px 50px 0px;
    }

    &__item {
        padding: 0px 0px 10px 0px;
    }
}
.item {

    &__image {
    }

    &__title {
    }

    &__price {
    }
}
