//Variables 
$mainFontFamily: "PT SAns";
$fontTitle: "Playfair Display";
$fontItems: "Post No Bills Jaffna";
$fontSize: 16;

$mainColor: #fff;
$grayColor: gray;
$darkGrayColor: #0f0f0f;

$maxWidth: 1440; 
$maxWidthContainer: 1270;
$minWidth: 320;

$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 774.98;
$md4: 479.98;